https:
  port: 

api:
  account:
    host: 
    port: 
    

anypoint:
  platform:
    client_id: 
    client_secret: 
    visualizer:
      layer: 

app:
  client_id: 
  client_secret: 
  autodiscovery: 
  
keystore:
  path: 
  password: 
